.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.sentence{
  display:flex;
  height: 13px;
  margin-left: 31%;
  margin-top: 101px
}

span {
  padding-left: 50px
}

.display{
  display: flex
}

.hidden{
  display:none;
  
}

.letter {
  border-bottom: 1px solid black;
  width: 13px;
  margin-left: 5px;
  padding-bottom: 18px;
  text-align: center
}

.underline {
  border-style: solid
}
.welcome-title{
  text-align: center;
}
button{
  margin-left:47%
}

body{
  background: burlywood;
}

.fa{
  color:dodgerblue;
  font-size: 30px;
}

h1{
  text-align: center;
}

.gameSession{
  text-align: center;
}

.keyRenderer{
  margin-top: 250px;
  padding-bottom: 130px;
}

.letterSpace {
  padding-left: 50px;
}

